@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');
* {
    margin: 0;
    padding: 0;
}

.landing {
    background-color: whitesmoke;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: inherit;
}

.overlay {
    height: inherit;
    background-color: black;
}

.header-text {
    position: relative;
    font-size: 70px;
    color: darkgoldenrod;
    top: 40%;
    font-family: 'Cabin Sketch', cursive;
}