p{
  margin: 10px;
}
.body{
  display: flex;
  justify-content: space-between;
  padding: 8px;
}
.del{
  background-image: url("~src/assets/x.svg");
  height: 30px;
  width: 30px;
  background-size: cover;
  background-position:center center;
  border-radius: 50%;
}
