.card {
    height: 250px;
    margin: 10px;
    width: 280px;
    margin-left: 20px;
    border: none;
}

.card-header {
    background-color: purple;
    color: white;
    border: none;
}

.quotes {
    display: flex;
    flex-wrap: wrap;
}

.card-header {
    display: flex;
    margin-top: -8px;
    justify-content: space-between;
}

.card-header button {
    margin-left: 80px;
    opacity: 0.7;
}