<div class="quotes  mx-auto">
    <div class="card" cdkDrag *ngFor="let quote of quotes">
        <div class="card-header">
            <h4 class="text-center">{{quote.title}}</h4><button class="btn btn-danger del" style="border-radius: 50%; width: 30px; height: 30px; margin-bottom: 20px" (click)="delQuotes(true)">-
      </button>
        </div>
        <div class="card-body">
            <p class="text-center">{{quote.message}}</p><br>
            <p> ~{{quote.author}}</p>
        </div>
        <div class="card-footer">
            <h6 class="text-center">{{quote.date | date}}</h6>
        </div>
    </div>
</div>