* {
  margin: 0;
  padding: 0;
}

.card {
  margin: 10px;
  /*width: auto;*/
  width: 300px;
  border: none;
  margin-bottom: 2%;
  background-color: aliceblue;
  /*box-shadow: 2px 2px 3px 2px black;*/
}

.title {
  color: #000;
  text-align: center;
}

.card-header {
  background-color: darkslateblue;
  color: white;
  border: none;
  height: 40px;
}

.quotes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-header {
  display: flex;
  justify-content: space-around;
}

.small-b {
  margin-left: 20px;
}

.small-b {
  display: flex;
  justify-content: flex-end;
}

.small-b button {
  margin: 10px;
}

