/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to bottom right, #191919, black);
}
.app-root{
  margin: 0;
  padding:0 ;
}

