/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Muli|Source+Code+Pro&display=swap');
* {
  margin: 0;
  padding: 0;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(to bottom right, #191919, black);
}
.app-root{
  margin: 0;
  padding:0 ;
}

