.search {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: #66000000;
    border-bottom: 1px solid white;
}

input::placeholder {
    color: wheat;
    text-align: center;
    font-size: 23px;
}

input {
    color: red;
}

#sbar {
    position: sticky;
    z-index: 1;
    top: 0;
    margin-right: 40px;
    padding-top: 10px;
}