@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap');
.form {
  margin-left: 10px;
  margin-right: 10px;
}
.new{
  font-size: 36px;
  color: yellow;
  font-family: 'Cabin Sketch', cursive;
}

input,
textarea {
  margin-right: 10px;
}

label{
  color: orange;
}
*{
  margin: 0;
  padding: 0;
}
.btn{
  margin-top: 10px;
}
